<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.readboy.ssm.mapper.CellBankCustomerProductMapper">
    <!-- 定义sql片段 -->
 	<sql id="query_app_sjyhcpxx">
 		select * from app_sjyhcpxx
 	</sql>
 	
 	<select id="findCellBankProductsByKhbhAndJgdm" resultType="CellBankCustomerProduct">
 		select JGDM, KHMC, KHBH, ZJHM, SJHM, KHRQ, TPJGDM, TPKH, TPRQ, JHSJ, ZXRQ, YXLX, TZR, TZBL, GHR, GHBL, LRR, LRBZ, LRSJ, hr_bas_organization.zzjc 
 		from app_sjyhcpxx ,hr_bas_organization
 		where khbh = #{khbh} and jgdm = #{jgdm} and hr_bas_organization.YWJGDM = app_sjyhcpxx.jgdm 
 	</select>
 	
 	<select id="findOneCellBankProductsByKhbhAndJgdm" resultType="CellBankCustomerProduct">
 		select JGDM, KHMC, KHBH, ZJHM, SJHM, KHRQ, TPJGDM, TPKH, TPRQ, JHSJ, ZXRQ, YXLX, TZR, TZBL, GHR, GHBL, LRR, LRBZ, LRSJ, hr_bas_organization.zzjc 
 		from app_sjyhcpxx ,hr_bas_organization
 		where khbh = #{khbh} and jgdm = #{jgdm} and hr_bas_organization.YWJGDM = app_sjyhcpxx.jgdm 
 		order by khrq desc limit 1
 	</select>
 
 </mapper>

