<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.readboy.ssm.mapper.DepositAccountFamilyMapper">
    <!-- 定义sql片段 -->
 	<sql id="query_khgxgl_ckzhghxx">
 		select * from khgxgl_ckzhghxx
 	</sql>
 	
 	<select id="findAllDepositAccountFamilyByKhbhAndJgdm" resultType="DepositAccountFamily">
 		select JGDM, KHBH, KHMC, ZJLX, ZJHM, YXLX, CKZH, ZHLX, KHRQ, DQRQ, LL, CKYE, TZR, TZRQ, DNRLJE, LRBZ, LRR, LRSJ, CQ, TZBL,hr_bas_organization.zzjc 
 		from khgxgl_ckzhghxx,hr_bas_organization 
 		where khbh = #{khbh} and jgdm=#{jgdm} and hr_bas_organization.YWJGDM = khgxgl_ckzhghxx.jgdm 
 	</select>
 	
 	<select id="findOneDepositAccountFamilyByKhbhAndJgdm" resultType="DepositAccountFamily">
 		select JGDM, KHBH, KHMC, ZJLX, ZJHM, YXLX, CKZH, ZHLX, KHRQ, DQRQ, LL, CKYE, TZR, TZRQ, DNRLJE, LRBZ, LRR, LRSJ, CQ, TZBL,hr_bas_organization.zzjc 
 		from khgxgl_ckzhghxx,hr_bas_organization 
 		where khbh = #{khbh} and jgdm=#{jgdm} and hr_bas_organization.YWJGDM = khgxgl_ckzhghxx.jgdm 
 		order by khrq desc limit 1
 	</select>
 	
 </mapper>

