<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.readboy.ssm.mapper.DepositAccountPersonMapper">
    <!-- 定义sql片段 -->
 	<sql id="query_khgxgl_ckkhghlsb">
 		select * from khgxgl_ckkhghlsb
 	</sql>
 	
 	<select id="findAllDepositAccountPersonByKhbhAndJgdm" resultType="DepositAccountPerson">
 		select JGDM, KHBH, GHLX, GHR, GHBL, KSRQ, JSRQ, LRBZ, LRR, LRSJ, hr_bas_staff.ygxm
 		from khgxgl_ckkhghlsb, hr_bas_staff 
 		where khbh = #{khbh} and jgdm=#{jgdm} and khgxgl_ckkhghlsb.ghr = hr_bas_staff.yggh
 	</select>
 	
 	<select id="findAllDepositAccountPersonByKhbh" parameterType="String" resultType="DepositAccountPerson">
 		select * from khgxgl_ckkhghlsb where khbh = #{khbh}
 	</select>
 	
 </mapper>

