<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.readboy.ssm.mapper.LoanCustomerProductMapper">
    <!-- 定义sql片段 -->
 	<sql id="query_app_dkkhcpxx">
 		select * from app_dkkhcpxx
 	</sql>
 	
 	<select id="findLoanProductsByKhbhAndJgdm" resultType="LoanCustomerProduct">
 		select * from app_dkkhcpxx where khbh = #{khbh} and jgdm = #{jgdm}
 	</select>
 	
 	<select id="findOneLoanProductsByKhbhAndJgdm" resultType="LoanCustomerProduct">
 		select CPMC, JGDM, KHBH, HTH, DKZH, FFRQ, DQRQ, DKJE, DKYE, LL, KHJLMC, FIVE_CLASS_TYPE, YXR, YXBL, GHR, GHBL, BSR, BSBL, SPR, SPBL, DCR, DCBL, LRR, LRBZ, LRSJ, hr_bas_organization.zzjc 
 		from app_dkkhcpxx, hr_bas_organization 
 		where khbh = #{khbh} and jgdm = #{jgdm} and hr_bas_organization.YWJGDM = app_dkkhcpxx.jgdm 
 		order by ffrq desc limit 1
 	</select>
 	
 	<select id="findLoanProductsHthByKhbhAndJgdm" resultType="String">
 		select hth from app_dkkhcpxx where khbh = #{khbh} and jgdm = #{jgdm}
 	</select>
 	
 	<select id="findLoanProductsByHth" resultType="LoanCustomerProduct">
 		select CPMC, JGDM, KHBH, HTH, DKZH, FFRQ, DQRQ, DKJE, DKYE, LL, KHJLMC, FIVE_CLASS_TYPE, YXR, YXBL, GHR, GHBL, BSR, BSBL, SPR, SPBL, DCR, DCBL, LRR, LRBZ, LRSJ, hr_bas_organization.zzjc 
 		from app_dkkhcpxx, hr_bas_organization 
 		where khbh = #{khbh} and jgdm = #{jgdm} and hth=#{hth} and hr_bas_organization.YWJGDM = app_dkkhcpxx.jgdm 
 	</select>
 
 </mapper>

