<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.readboy.ssm.mapper.SimpleCustomerInfoMapper">
    <!-- 定义sql片段 -->
 	
 	<select id="findSimpleCustomerInfo" parameterType="String" resultType="SimpleCustomerInfo">
 		select app_mycust.khbh,app_mycust.khmc,app_mycust.sjhm,app_mycust.zz,hr_bas_organization.zzjc
		from app_mycust,hr_bas_organization where khbh = #{khbh} and hr_bas_organization.ywjgdm = app_mycust.jgdm	
 	</select>
 	<select id="findDepositNote" parameterType="String" resultType="int">
 		select * from khgxgl_ckzhghxx where khbh = #{khbh}
 	</select>
 	<select id="findLoanNote" parameterType="String" resultType="int">
 		select * from app_dkkhcpxx where khbh = #{khbh}
 	</select>
 	<select id="findCellBankNote" parameterType="String" resultType="int">
 		select * from app_sjyhcpxx where khbh = #{khbh}
 	</select>
 	<select id="findEtcNote" parameterType="String" resultType="int">
 		select * from khgxgl_etckhgl where khbh = #{khbh}
 	</select>
 </mapper>

