<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.readboy.ssm.mapper.SimpleDepositExpireDetailMapper">
    <!-- 定义sql片段 -->
 	
 	<select id="findDepositExpireDetail" resultType="SimpleDepositExpireDetail">
 		select hr_bas_organization.zzjc,
 		KHGXGL_TZDQCKDQMX.khmc,KHGXGL_TZDQCKDQMX.khrq,KHGXGL_TZDQCKDQMX.dqrq,
 		KHGXGL_TZDQCKDQMX.ll,KHGXGL_TZDQCKDQMX.cq,KHGXGL_TZDQCKDQMX.ye
 		from hr_bas_organization,KHGXGL_TZDQCKDQMX
 		where hr_bas_organization.ywjgdm = KHGXGL_TZDQCKDQMX.jgdm and 
 		KHGXGL_TZDQCKDQMX.tzrgh = #{tzrgh} and KHGXGL_TZDQCKDQMX.dqrq between #{ksrq} and #{dqrq}
 	</select>

 </mapper>

