<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.readboy.ssm.newtest.dao.DemoNopkMapper">
    
    <resultMap type="com.readboy.ssm.newtest.domain.DemoNopk" id="DemoNopkResult">
        <result property="t1"    column="t1"    />
        <result property="te"    column="te"    />
        <result property="dfsd"    column="dfsd"    />
        <result property="dfdf"    column="dfdf"    />
    </resultMap>
    
    <!-- Assist用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} 
                <if test="req.value != null"> #{req.value}</if> 
                <if test="req.values != null">
                    <foreach collection="req.values" item="val" separator=","> 
                         #{val}
                    </foreach> 
                </if> 
                <if test="req.suffix != null"> ${req.suffix}</if> 
            </foreach>
        </where>
    </sql>
    
    
     <!-- updateAssist用于更新数据的使用它拓展自Assist,用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} 
                <if test="req.value != null"> #{req.value}</if> 
                <if test="req.values != null">
                    <foreach collection="req.values" item="val" separator=","> 
                        #{val} 
                    </foreach> 
                </if> 
                <if test="req.suffix != null"> ${req.suffix}</if> 
            </foreach>
        </where>
    </sql>
    
    <sql id="selectDemoNopkVo">
        select t1, te, dfsd, dfdf from demo_nopk
    </sql>
    
    
     <!-- 通用列表查询-->
    <select id="selectListCommon" parameterType="com.readboy.ssm.newtest.util.domain.Assist" resultMap="DemoNopkResult">
        <include refid="selectDemoNopkVo" /> 
        <if test="require!=null"><include refid="Assist" /></if>
        <if test="order !=null">
        	 ${order}
        </if>
        <if test="startRow !=null and rowSize !=null">
            LIMIT  #{startRow},#{rowSize}
        </if>
    </select>
    
    <!-- 条件删除-->
    <delete id="deleteObjCommon" parameterType="com.readboy.ssm.newtest.util.domain.Assist" >
        delete from demo_nopk
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>
    
    
    <!--获得类名为:对应的数据库表的数据总行数 -->
    <select id="getObjRowCountCommon" parameterType="com.readboy.ssm.newtest.util.domain.Assist" resultType="java.lang.Long">
        select count(*)  from demo_nopk
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    
    
   
    <!--条件更新 -->
    <update id="updateObjCommon" parameterType="map">
        update demo_nopk
        <trim prefix="SET" suffixOverrides=",">
            <if test="value.t1 != null  and value.t1 != ''  ">t1 = #{value.t1},</if>
            <if test="value.te != null  and value.te != ''  ">te = #{value.te},</if>
            <if test="value.dfsd != null  and value.dfsd != ''  ">dfsd = #{value.dfsd},</if>
            <if test="value.dfdf != null  and value.dfdf != ''  ">dfdf = #{value.dfdf},</if>
        </trim>
        <if test="assist!=null and assist.require!=null"><include refid="updateAssist" /></if>
    </update>
   


      <!--新增 -->  
    <insert id="insertDemoNopk" parameterType="com.readboy.ssm.newtest.domain.DemoNopk">
        insert into demo_nopk
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="t1 != null  and t1 != ''  ">t1,</if>
			<if test="te != null  and te != ''  ">te,</if>
			<if test="dfsd != null  and dfsd != ''  ">dfsd,</if>
			<if test="dfdf != null  and dfdf != ''  ">dfdf,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="t1 != null  and t1 != ''  ">#{t1},</if>
			<if test="te != null  and te != ''  ">#{te},</if>
			<if test="dfsd != null  and dfsd != ''  ">#{dfsd},</if>
			<if test="dfdf != null  and dfdf != ''  ">#{dfdf},</if>
         </trim>
    </insert>
	 

    
    
    

    
</mapper>