<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.readboy.ssm.mapper.CellBankCustomerPersonMapper">
    <!-- 定义sql片段 -->
 	<sql id="query_khgxgl_sjyhkhghlsb">
 		select * from khgxgl_sjyhkhghlsb
 	</sql>
 	
 	<select id="findCellBankPersonsByKhbhAndJgdm" resultType="CellBankCustomerPerson">
 		select jgdm, khbh, hth, ghlx, ghr, ghbl, ksrq, jsrq, lrbz, lrr, lrsj, hr_bas_staff.ygxm 
 		from khgxgl_sjyhkhghlsb , hr_bas_staff
 		where khbh = #{khbh} and jgdm = #{jgdm} and khgxgl_sjyhkhghlsb.ghr = hr_bas_staff.yggh
 	</select>
 	
 	<select id="findDataCountByCond" resultType="Integer">
 		select count(*) from khgxgl_sjyhkhghlsb , hr_bas_staff
 		where khbh = #{khbh} and jgdm = #{jgdm} and khgxgl_sjyhkhghlsb.ghr = hr_bas_staff.yggh
 	</select>
 
 </mapper>

