<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.readboy.ssm.mapper.CustomerMapper">
    <!-- 定义sql片段 -->
 	<sql id="query_app_mycust_where">
 		select * from app_mycust
 	</sql>
 	
 	<select id="findAllCustomerByKhlx" resultType="Customer">
 		select * from app_mycust where khlx = #{khlx} and ghrgh=#{gyh}
 		<if test="condition != '' and condition != null">
 			and (khmc like concat(concat('%',#{condition}),'%') or sjhm like concat(concat('%',#{condition}),'%'))
 		</if>
 		limit #{page.currentResult},#{page.showCount}
 	</select>
 	
 	<select id="findDataCountByCond" resultType="Integer">
 		select count(*) from app_mycust where khlx = #{khlx} and ghrgh=#{gyh}
 		<if test="condition != '' and condition != null">
 			and (khmc like concat(concat('%',#{condition}),'%') or sjhm like concat(concat('%',#{condition}),'%'))
 		</if>
 	</select>
 	
 	<select id="findCustomerByKhbhAndGhrgh"  resultType="Customer">
 		select JGDM, KHBH, KHMC, ZJHM, ZZ, CPXX, SSDJ, SJHM, GHRGH, GHRXM, KHLX, hr_bas_organization.zzjc
 		from app_mycust ,hr_bas_organization
 		where khbh = #{khbh} and ghrgh = #{ghrgh} and hr_bas_organization.YWJGDM = app_mycust.jgdm
 		<if test="condition != '' and condition != null">
 			and (khmc like concat(concat('%',#{condition}),'%') or sjhm like concat(concat('%',#{condition}),'%'))
 		</if>
 	</select>
	
	<!-- 批量插入数据 -->
 	<insert id="batchInsertCustomer" parameterType="java.util.List">
 		insert into app_mycust(jgdm,khbh,khmc,zjhm,zz,cpxx,ssdj,sjhm,ghrgh,ghrxm,khlx)
 		values
 		<foreach collection="list" item="item" index="index" separator="," >
 			(#{item.jgdm},#{item.khbh},#{item.khmc},#{item.zjhm},#{item.zz},#{item.cpxx},
 			#{item.ssdj},#{item.sjhm},#{item.ghrgh},#{item.ghrxm},#{item.khlx})
 		</foreach>
 	</insert>
 </mapper>

