<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.readboy.ssm.mapper.DataLogMapper">

	<insert id="insertDataLog" parameterType="DataLog">
		<selectKey keyProperty="id" resultType="int" >
			select last_insert_id()
		</selectKey>
		insert into sys_data_log(type,status,times,filename)
		value(#{type},#{status},#{times},#{filename})
		
	</insert>
	
	<select id="findAllDataLog" resultType="DataLog">
		select * from sys_data_log
		<where>
 			<if test="insert_time !='' and insert_time != null">
 				insert_time = #{insert_time}
 			</if>
 			<if test="status !='' and status != null">
 				status = #{status}
 			</if>
 		</where>
 		limit #{page.currentResult},#{page.showCount}
	</select>
	
	<select id="findDataCountByCond" resultType="java.lang.Integer">
 		select count(*) from sys_data_log
 		<where>
 			<if test="insert_time !='' and insert_time != null">
 				insert_time = #{insert_time}
 			</if>
 			<if test="status !='' and status != null">
 				status = #{status}
 			</if>
 		</where>
 		</select>
 </mapper>

