<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.readboy.ssm.mapper.EtcCustomerFamilyMapper">
	<!-- 定义sql片段 -->
	<sql id="query_khgxgl_etckhgl">
		select * from khgxgl_etckhgl
	</sql>

	<select id="findEtcCustomerFamilysByKhbhAndJgdm" resultType="EtcCustomerFamily">
		select khbh, khmc, zjlx, zjhm, lxdh, khdh, dljgm, jgdm, kzbz, kh, zh, zhxh, dfzh, dfzhxh, dfje,
		 xtkkh, gy, sqr, rq, rjbrq, bz, lrr, lrbz, lrsj, txdz, yxlx, tzr, 
		 tzbl, azr, azbl, hr_bas_organization.zzjc 
		from khgxgl_etckhgl, hr_bas_organization 
		where khbh = #{khbh} and jgdm = #{jgdm} and hr_bas_organization.ywjgdm = khgxgl_etckhgl.jgdm
	</select>
	
	<select id="findDataCountByCond" resultType="Integer">
		select count(*) 
		from khgxgl_etckhgl
		where khbh = #{khbh} and jgdm = #{jgdm}
	</select>

	<select id="findOneEtcCustomerFamilysByKhbhAndJgdm" resultType="EtcCustomerFamily">
		select khbh, khmc, zjlx, zjhm, lxdh, khdh, dljgm, jgdm, kzbz, kh, zh, zhxh, dfzh, dfzhxh, dfje, xtkkh, gy, sqr, rq, rjbrq, bz, lrr, lrbz, lrsj, txdz, yxlx, tzr, tzbl, azr, azbl, hr_bas_organization.zzjc 
		from khgxgl_etckhgl, hr_bas_organization 
		where khbh = #{khbh} and jgdm = #{jgdm} and hr_bas_organization.ywjgdm = khgxgl_etckhgl.jgdm 
		order by rq desc limit 1
	</select>

</mapper>

