<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.readboy.ssm.mapper.PerformanceDkXzbnbldkzbMapper" >

  <select id="findPerformanceDkXzbnbldkzb" resultType="PerformanceDkXzbnbldkzb">
 		select * from v_wage_xzbnbldkzb
 		where yggh = #{yggh} and gzrq =#{ksrq}
 		and v_wage_xzbnbldkzb.zbid = #{zbid}
  </select>
</mapper>