<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.readboy.ssm.mapper.PerformanceJymbMapper" >
  	
  	<select id="findPerformanceJymb" resultType="PerformanceJymb">
 		select * from v_wage_jymb
 	</select>
</mapper>