<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.readboy.ssm.mapper.PerformanceDKDydklxshMxMapper" >
  	 <select id="findPerformanceDKDydklxshMx" resultType="PerformanceDKDydklxshMx">
 		select erp_wage_dydklxshmx.*,hr_bas_organization.zzjc from erp_wage_dydklxshmx,
 		hr_bas_organization where erp_wage_dydklxshmx.yggh = #{yggh} and erp_wage_dydklxshmx.tjrq=#{ksrq}
 		and erp_wage_dydklxshmx.zzbz = hr_bas_organization.zzbz
 		<if test="condition != '' and condition != null">
			and (erp_wage_dydklxshmx.zhmc like concat(concat('%',#{condition}),'%') 
			or erp_wage_dydklxshmx.dkzh like concat(concat('%',#{condition}),'%'))
		</if>
		order by erp_wage_dydklxshmx.tjrq desc
		limit #{page.currentResult},#{page.showCount}
  </select>
  
   <select id="findDataCountByCond" resultType="Integer">
 		select count(*) from erp_wage_dydklxshmx
 		where erp_wage_dydklxshmx.yggh = #{yggh} and erp_wage_dydklxshmx.tjrq=#{ksrq}
 		<if test="condition != '' and condition != null">
			and (erp_wage_dydklxshmx.zhmc like concat(concat('%',#{condition}),'%') 
			or erp_wage_dydklxshmx.dkzh like concat(concat('%',#{condition}),'%'))
		</if>
  </select>
</mapper>