<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.readboy.ssm.mapper.PerformanceCellBankTradeMxMapper">
    <!-- 定义sql片段 -->
 	<sql id="erp_wage_sjyhjymx">
 		select erp_wage_sjyhjymx.*,hr_bas_organization.zzjc
 		from erp_wage_sjyhjymx,hr_bas_organization 
 		where yggh = #{yggh} and stt = #{stt}
 		and tjrq between #{ksrq} and #{jsrq} 
 		and hr_bas_organization.ywjgdm = erp_wage_sjyhjymx.jgdm
 		<if test="condition != '' and condition != null">
			and (erp_wage_sjyhjymx.khname like concat(concat('%',#{condition}),'%') 
			or erp_wage_sjyhjymx.mobile like concat(concat('%',#{condition}),'%'))
		</if>
 		order by erp_wage_sjyhjymx.tjrq desc
 		limit #{page.currentResult},#{page.showCount}
 	</sql>
 	
 	<select id="findPerformanceCellBankTradeMx" resultType="PerformanceCellBankTradeMx">
 		<include refid="erp_wage_sjyhjymx"></include>
 	</select>
 	
 	<select id="findDataCountByCond" resultType="Integer">
 		select count(*) from erp_wage_sjyhjymx
 		where yggh = #{yggh} and stt = #{stt}
 		and tjrq between #{ksrq} and #{jsrq}
 		<if test="condition != '' and condition != null">
			and (erp_wage_sjyhjymx.khname like concat(concat('%',#{condition}),'%') 
			or erp_wage_sjyhjymx.mobile like concat(concat('%',#{condition}),'%'))
		</if>
 	</select>
 </mapper>
