<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.readboy.ssm.mapper.PerformanceAljcgzMxCustomMapper">
 	<select id="findPerformanceAljcgzMxCustom" resultType="PerformanceAljcgzMxCustom">
 		select erp_wage_gw_aljc.*,erp_bas_zbk.zbmc from erp_wage_gw_aljc,erp_bas_zbk
 		where erp_wage_gw_aljc.yggh = #{yggh} and 
 		erp_wage_gw_aljc.gzyf between #{ksrq} and #{jsrq} and erp_wage_gw_aljc.zzbz = #{zzbz} and
 		erp_wage_gw_aljc.gwbz = #{gwbz} and erp_bas_zbk.zbid = erp_wage_gw_aljc.zbid	
 		order by erp_wage_gw_aljc.zbgz desc
 	</select>
 	
 	<select id="findDataCountByCond" resultType="Integer">
 		select count(*)
 		from erp_wage_gw_aljc
 		where erp_wage_gw_aljc.yggh = #{yggh}
 		and erp_wage_gw_aljc.gzyf between #{ksrq} and #{jsrq}
 		and erp_wage_gw_aljc.zzbz = #{zzbz} and
 		erp_wage_gw_aljc.gwbz = #{gwbz}
 	</select>
 </mapper>
