<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.readboy.ssm.mapper.PerformancePhjfkgzMxCustomMapper">

 	<select id="findPerformancePhjfkgzMxCustom" resultType="PerformancePhjfkgzMxCustom">
 		select erp_wage_gw_phjfk.*,erp_bas_zbk.zbmc 
 		from erp_wage_gw_phjfk,erp_bas_zbk
 		where erp_wage_gw_phjfk.yggh = #{yggh} and erp_wage_gw_phjfk.gzyf between #{ksrq} and #{jsrq} 
 		and erp_wage_gw_phjfk.zzbz = #{zzbz} and erp_wage_gw_phjfk.gwbz = #{gwbz}
 		and erp_wage_gw_phjfk.zbid = erp_bas_zbk.zbid
 		order by erp_wage_gw_phjfk.zbgz desc
 	</select>
 	
 	<select id="findDataCountByCond" resultType="Integer">
 		select count(*)
 		from erp_wage_gw_phjfk
 		where erp_wage_gw_phjfk.yggh = #{yggh} and erp_wage_gw_phjfk.gzyf between #{ksrq} and #{jsrq} 
 		and erp_wage_gw_phjfk.zzbz = #{zzbz} and erp_wage_gw_phjfk.gwbz = #{gwbz}
 	</select>
 	
 </mapper>
