<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.readboy.ssm.mapper.SimpleDepositExpireDetailMapper">
    <!-- 定义sql片段 -->
 	
 	<select id="findDepositExpireDetail" resultType="SimpleDepositExpireDetail">
 		select hr_bas_organization.zzjc,
 		khgxgl_tzdqckdqmx.khmc,khgxgl_tzdqckdqmx.khrq,khgxgl_tzdqckdqmx.dqrq,
 		khgxgl_tzdqckdqmx.ll,khgxgl_tzdqckdqmx.cq,khgxgl_tzdqckdqmx.ye
 		from hr_bas_organization,khgxgl_tzdqckdqmx
 		where hr_bas_organization.ywjgdm = khgxgl_tzdqckdqmx.jgdm and 
 		khgxgl_tzdqckdqmx.tzrgh = #{tzrgh} and khgxgl_tzdqckdqmx.tjyf = #{ksrq}
 	</select>
 	
 	<select id="findDataCountByCond" resultType="Integer">
 		select count(*)
 		from khgxgl_tzdqckdqmx
 		where
 		khgxgl_tzdqckdqmx.tzrgh = #{tzrgh} and khgxgl_tzdqckdqmx.tjyf = #{ksrq}
 	</select>

 </mapper>

