<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.readboy.ssm.mapper.StaffAndPostMapper">
	
	<!-- 根据 -->
 	<select id="findYgghByZzbz" resultType="java.lang.String">
 		select hr_bas_staff_post.yggh from hr_bas_staff_post where 
 		hr_bas_staff_post.zzbz = #{zzbz} and rglx = #{rglx}
 	</select>
  	<select id="findStaffAndPostByYggh" resultType="StaffAndPost">
		select * from hr_bas_staff_post as a where rgrq = (select max(b.rgrq) from hr_bas_staff_post  as b where b.yggh = #{yggh}) and yggh=#{yggh}
 	</select>
 	
 	<select id="findStaffAndPostByYgghAndTjrq" resultType="StaffAndPost">
		 <![CDATA[ select * from hr_bas_staff_post as a where rgrq <= #{ed} and (lgrq is null or lgrq = '0000-00-00 00:00:00' or lgrq>= #{fd}) and yggh=#{yggh}  ]]>
 	</select>
 	
 	<!-- 根据员工工号查询员工职位历史 -->
 	<select id="findStaffAndPostsByYggh" resultType="com.readboy.ssm.appjx.dto.MyInfo">
		select a.*,base.GWMC,s.ygxm,org.ZZMC from hr_bas_staff_post as a left join hr_bas_post base on a.GWBZ = base.GWBZ 
		left join hr_bas_staff s  on a.yggh=s.yggh  left JOIN hr_bas_organization org on a.ZZBZ =org.ZZBZ
 		where  a.yggh=#{yggh}
 	</select>
 	
 		<!-- 根据员工工号查询员工职位历史 -->
 	<select id="findStaffAndPostsByYgghNow" resultType="com.readboy.ssm.appjx.dto.MyInfo">
		select a.*,base.GWMC,s.ygxm,org.ZZMC from hr_bas_staff_post as a left join hr_bas_post base on a.GWBZ = base.GWBZ 
		left join hr_bas_staff s  on a.yggh=s.yggh  left JOIN hr_bas_organization org on a.ZZBZ =org.ZZBZ
 		where  a.yggh=#{yggh} 
 		and rgrq = (select max(bs.rgrq) from hr_bas_staff_post  as bs where bs.yggh = #{yggh})
 	</select>
 	
 	
 </mapper>
